* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.brand-logo {
	margin-right: 8px;
}

.nav-link.active {
	color: orange !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link {
    transition: 0.4s;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 158, 8);
}

.fixed-void {
	margin-top: 59.2px;
}

/*.carousel-1 {
	background: url("../images/carousel-1.jpg") no-repeat center center scroll;
	background-size: cover;
}

.carousel-2 {
	background: url("../images/carousel-2.jpg") no-repeat center center scroll;
	background-size: cover;
}

.carousel-3 {
	background: url("../images/carousel-3.jpg") no-repeat scroll;
	background-size: cover;
}*/

.carousel-caption {
	background-color: #000000b8;
	left: 0;
	right: 0;
	bottom: 0;
}

.echo-feature-slider .card {
	border: 0px !important;
}

.echo-explore-system img {
	transition: transform 0.4s;
}

.echo-explore-system img:hover {
	transform: scale(1.2);
}

.product-name {
	font-size: 24px;
}

.product-link {
	text-decoration: none !important;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 24px;
    line-height: 1;
    opacity: 1;
    color: tomato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 320px) {
	.carousel-item {
		height: 11rem;
	}
	.carousel-1 img,
	.carousel-2 img,
	.carousel-3 img {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.carousel-item {
		height: 20rem;
	}
	.search-form input {
		width: 125px !important;
	}
}

@media only screen and (min-width: 1024px) {
	.carousel-item {
		height: 28rem;
	}
	.search-form input {
		width: auto !important;
	}
}

@media only screen and (min-width: 1200px) {
	.carousel-item {
		height: auto;
	}
	.carousel-1 img,
	.carousel-2 img,
	.carousel-3 img {
		width: 80%;
		background-position: center top;
	}
	.carousel-1 {
		background-color: red;
	}
	.carousel-2 {
		background-color: #151512;
	}
	.carousel-3 {
		background-color: black;
	}
}